# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Vector database
resources/vectorstore/

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/
